body{
    width:375px;
    margin:0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 html {
    background: #020659;
    font: sans-serif;
    text-transform: uppercase ;
    color: #ffffff
 
 }
 @media screen and (min-width:834px){
    body{
        width:834px;
    }
    #trending-songs {
        width:834px;
    }
 }
 

/* MENU */

 ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        
    }
    label span, input {
        display: none;
    }
}

/* TOP OF WEBPAGE */

header{
    padding: 50px;
    background: linear-gradient(90deg, #2104D9 0%, #030ABC 50%, #020873 60%,#000000 100%);
    font-size:1.25em;
}


section > h2{
    font-size: 1em;
    color: #590242;
}


/* TRENDING SONGS PLAYLIST SECTION */

#trending-songs section{
    background-color: #ffffff;
    color: #590242
}

#trending-songs{
    width:375px;
    
}
 
 
div{
    width:375px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow: scroll;
 }
 

/* AUDIO */
audio{
    position:absolute;
    bottom:150px;
    left:5px
 }
 audio::-webkit-media-controls-mute-button {
    background-color:#ffffff;
    border-radius:50%;
 }
 audio::-webkit-media-controls-play-button {
    background-color:#ffffff;
    border-radius:50%;
 }
 audio::-webkit-media-controls-enclosure {
    background-color:rgba(255,255,255,.5);
 }
 

/* SCROLL */

.scroll {
    display:grid;
    grid-template-columns: repeat (5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
 }
 

 .scroll section {
    margin:10px;
    position:relative;
 }
 .scroll div {
    position: absolute;
    top:251px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 50px;
    width: 350px;
 }

 dl {
    display:flex;
    position: relative;
    top:20px;
 }
 dt{
    padding-right: 5px;
    position: relative;
    font-style: italic;
 }
 
h3{
    position: absolute;
    
}

#trending-songs a{
    background-color: #590242;

}


/* LINK BUTTONS*/
#trending-songs a{
    text-decoration: none;
    width:fit-content;
    margin: 1rem ;
    border-radius: 0.25rem;
    font-weight: lighter;
    font-size: .75em;
    background-color:#590242;
    color: #ffffff;
    padding: 1rem;
    padding-top: 10px;
    text-align: center;
    white-space: nowrap;
    
}

#your-playlists a{
    text-decoration: none;
    width:fit-content;
    margin: 1rem ;
    border-radius: 0.25rem;
    font-weight: lighter;
    font-size: .75em;
    background-color:#590242;
    color: #ffffff;
    padding: 1rem;
    padding-top: 10px;
    text-align: center;
    white-space: nowrap;
    
}

#curated-playlists a{
    text-decoration: none;
    width:fit-content;
    margin: 1rem ;
    border-radius: 0.25rem;
    font-weight: lighter;
    font-size: .75em;
    background-color:#590242;
    color: #ffffff;
    padding: 1rem;
    padding-top: 10px;
    text-align: center;
    white-space: nowrap;
    
}